/* layout */
html:not(.touchmode) ::-webkit-scrollbar {width: 10px;}
html:not(.touchmode) ::-webkit-scrollbar-thumb {background-color: #ccc;border-radius: 10px;background-clip: padding-box;border: 2px solid transparent;}
html:not(.touchmode) ::-webkit-scrollbar-track {background-color: transparent;border-radius: 10px;box-shadow: inset 0px 0px 5px transparent;}

.dimbg{position:fixed;top:0;left:0;width:100%;height:100%;z-index:70;background:rgba(0,0,0,.4);display:none !important;}

.page_wrap{min-width:280px;}

.middle_wrap{position:relative;overflow-x:hidden;}
.middle_inner{max-width:1200px;padding:0 30px 120px;margin:0 auto;}

.banner-chipcard-zone{position:relative;overflow:hidden;}
.banner-chipcard-wrap{position:relative; margin:0 auto; max-width:1200px;}
.swiper-container.banner-chipcard-container{width: 100%;  overflow: visible !important; /* Swiper 컨테이너가 숨기지 않게 */}
.swiper-container.banner-chipcard-container .swiper-wrapper {overflow: visible !important; /* 슬라이드 전체 노출 */}
.swiper-container.banner-chipcard-container .swiper-slide {display: flex;justify-content: center;align-items: center;}
.swiper-container.banner-chipcard-container .swiper-scrollbar {background:#f5f5f5; position:static;  margin-top: 37px; height:4px; width:100%;}
.swiper-container.banner-chipcard-container .swiper-scrollbar-drag {background: #4783d4; cursor:pointer; position:relative;}
.swiper-container.banner-chipcard-container .swiper-scrollbar-drag:after{display:block; content:''; width:100%;height:20px; position:absolute;top:50%;left:0;transform:translate(0,-50%)}

.btn-chipcard-navi{background:#fff; box-sizing:border-box; z-index:5; width:40px;height:40px;border-radius:100%;border:1px solid #dadada;position:absolute;top:calc(50% - 40px);}
.btn-chipcard-navi:after{display:block;content:'';width:10px;height:10px;border-right:1px solid #5f5f5f; border-bottom:1px solid #5f5f5f; position:absolute;top:50%;left:50%;transform:rotate(-225deg);margin:-5px 0 0 -2px;}
.btn-chipcard-navi.prev{left:-20px;}
.btn-chipcard-navi.prev:after{}
.btn-chipcard-navi.next{right:-20px;}
.btn-chipcard-navi.next:after{transform:rotate(-45deg);margin:-5px 0 0 -9px;}

.banner-chipcard-item{height:360px; width:280px; position:relative; overflow:hidden; border-radius: 10px; display:block;}
.banner-text-group{position:absolute;top:0;left:0;width:100%;height:100%;z-index:2; box-sizing:border-box; padding:26px 28px; background:url("../../images/dim_thum.png") repeat-x 0 0;}
.banner-text-item{}
.banner-text-main,
.banner-text-sub{color:#fff; line-height:1.3; word-break:break-all;display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 2;overflow: hidden;}
.banner-text-main{font-size:18px;}
.banner-text-sub{margin-top:8px;font-size:20px; font-weight:500;}
.banner-img-group{position:absolute;top:0;left:0;width:100%;height:100%;}
.banner-img-group > img{vertical-align:top;object-fit:cover;object-position:50% 50%;width:100%;height:100%;}
.banner-img-group img.pc_thum_img{}
.banner-img-group img.mb_thum_img{display:none;}

.banner-chipcard-zone img, 
.banner-chipcard-zone a {
  user-drag: none;         /* Safari용 */
  -webkit-user-drag: none; /* Chrome, Safari, Opera용 */
  user-select: none;       /* 텍스트 선택 방지 */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  pointer-events: auto;    /* 클릭은 가능하도록 유지 (필요 시) */
}
@media (max-width:1260px){
    .banner-chipcard-wrap{margin:0 30px;}
}
@media (max-width:1023px){
    .banner-chipcard-item{width:calc(100vw - 30px)}
}

@media (max-width:767px){
}