/* layout */
html:not(.touchmode) ::-webkit-scrollbar {width: 10px;}
html:not(.touchmode) ::-webkit-scrollbar-thumb {background-color: #ccc;border-radius: 10px;background-clip: padding-box;border: 2px solid transparent;}
html:not(.touchmode) ::-webkit-scrollbar-track {background-color: transparent;border-radius: 10px;box-shadow: inset 0px 0px 5px transparent;}

.dimbg{position:fixed;top:0;left:0;width:100%;height:100%;z-index:70;background:rgba(0,0,0,.4);display:none !important;}

.page_wrap{min-width:280px;}

.middle_wrap{position:relative;overflow-x:hidden;}
.middle_inner{max-width:1200px;padding:0 30px 120px;margin:0 auto;}